<div ng-controller="imageLocationCtrl" class="image-location-container">
  <div class="row">
    <div class="four columns">
      <span  class="u-full-width">
        <label>
          Location to scan for images:
          /Users/thibbard/Documents/repos/projects/rose-builder/images
        </label>
      </span>
    </div>
    <div class="eight columns">
      <input class="u-full-width" type="text" ng-model="imageData.config.imageDirectory" value="">
    </div>
  </div>
  <div class="row">
    <div class="four columns">&nbsp;
    </div>
    <div class="four columns">
      <select class="u-full-width"
              ng-model="imageData.config.sizes.selectedSize"
              ng-options="size.display for size in imageData.config.sizes.sizesArr track by size.id"
              ng-change="setSelectedSize()">
      </select>
      </select>
    </div>
    <div class="four columns">
       <!-- <button class="u-full-width" ng-click="getImageData()">Scan Dir</button> -->
       <button class="u-full-width" ng-click="getImageDataFromDirectory()">Scan Dir</button>    
    </div>    
  </div>
</div>

