@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800,600,500,700,300,200,100);
html, body, .container {
  background: #efefef;
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 0px 2.2px 8px 1px rgba(0, 0, 0, 0.15);
  color: #555;
  padding: 8px 50px;
  margin-top: 0;
}
.container .navbar-spacer {
  width: 100%;
  background: transparent;
}
.container .navbar-spacer-thick {
  height: 60px;
}
.container .navbar-spacer-thin {
  height: 60px;
}
.container .thin-button {
  height: 23px;
  line-height: 2px;
}
.container .stage {
  transition: all 0.5s;
}
.container .header {
  margin-top: 9rem;
  text-align: center;
}
.container .header h2 {
  border-bottom: 1px solid #B53F14;
}
.container .image-location-container .column,
.container .image-location-container .columns {
  min-height: 60px;
}
.container .image-location-container .columns:nth-of-type(1) label {
  line-height: 40px;
}
.container .image-data-container {
  min-height: 60px;
}
.container .image-data-container .image-data-row {
  border-bottom: 1px solid lightgray;
}
.container .image-data-container .header {
  margin-bottom: 15px;
}
.container .image-data-container .row {
  min-height: 30px;
}
.container .image-data-container .add-single-image-option {
  color: #888686;
}
.container .image-data-container .active-image-option {
  color: #ffffff;
  background-color: #44B344;
}

.spa-anchor {
  color: unset;
  text-decoration: unset;
}
.spa-anchor:hover {
  color: unset;
  text-decoration: unset;
}
.spa-anchor:active {
  color: unset;
  text-decoration: unset;
}
