@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800,600,500,700,300,200,100);
/*media query variables*/
html, body, .container {
  background: #efefef;
  padding: 0;
  margin: 0;
  height: 100%;
}

hr.thin-divider {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

h6 {
  margin-bottom: 0.3rem;
}

.container {
  width: 85%;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 0px 2.2px 8px 1px rgba(0, 0, 0, 0.15);
  color: #555;
  padding: 8px 50px;
  margin-top: 0;
}
.container .navbar-spacer {
  width: 100%;
  background: transparent;
}
.container .navbar-spacer-thick {
  height: 60px;
}
.container .navbar-spacer-thin {
  height: 60px;
}
.container .thin-button {
  height: 23px;
  line-height: 2px;
}
.container .stage {
  transition: all 0.5s;
}
.container .header {
  margin-top: 9rem;
  text-align: center;
  border-bottom: 1px solid #B53F14;
}
.container .header .rose-icon {
  width: 32px;
  position: relative;
  top: 2px;
}
.container .header h2, .container .header img {
  display: inline-block;
}
.container .image-location-container .column,
.container .image-location-container .columns {
  min-height: 60px;
}
.container .image-location-container .columns:nth-of-type(1) label {
  line-height: 40px;
}
.container .image-data-container {
  min-height: 60px;
}
.container .image-data-container .image-data-row {
  padding: 6px 11px 0px 11px;
  border-radius: 3px;
  border-bottom: 1px solid #E0E0E0;
}
.container .image-data-container .header {
  margin-bottom: 15px;
}
.container .image-data-container .row {
  min-height: 30px;
}
.container .image-data-container .even-row {
  /*  background-color: #efefef; */
}
.container .image-data-container .odd-row {
  background-color: #efefef;
}
.container .image-data-container .add-single-image-option {
  color: #888686;
  position: relative;
}
.container .image-data-container .image-option-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.container .image-data-container .active-image-option,
.container .image-data-container .inactive-image-option {
  top: 50%;
  float: right;
  padding-right: 10px;
  border-radius: 3px;
  margin-right: -29px;
}
.container .image-data-container .active-image-option {
  color: #ffffff;
  background-color: rgba(212, 66, 22, 0.45);
  padding: 4px 5px 4px 6px;
}
.container .image-data-container .inactive-image-option {
  color: #ffffff;
  background-color: rgba(58, 156, 26, 0.52);
  padding: 5px 5px 3px 6px;
}
.container .place-image-container {
  user-select: none;
  -webkit-user-select: none;
}
.container .place-image-container .active-image-button {
  border: 1px solid red;
}
.container .place-image-container .place-image-canvas-container {
  position: relative;
}
.container .place-image-container .place-image-canvas {
  box-shadow: inset 0px 0px 0px 3px gray;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: sepia(30%) saturate(10);
}
.container .place-image-container .place-image-placeholder {
  opacity: 0.9;
  position: relative;
  top: 0;
  left: 0;
  background-size: 100%;
  z-index: 10000;
  cursor: move;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
  resize: both;
  overflow: auto;
  -webkit-box-shadow: inset 0px 0px 0px 1px red;
  -moz-box-shadow: inset 0px 0px 0px 1px red;
  box-shadow: inset 0px 0px 0px 1px red;
}
.container .place-image-container .place-image-placeholder .filename-container {
  background-color: white;
  opacity: 0.8;
  font-size: 8px;
  text-align: center;
  color: red;
  width: 100%;
  border-style: solid;
  border-width: 1px 0;
  border-color: rgba(255, 0, 0, 0.48);
}
.container .place-image-container .hide-placeholder-border {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.container .place-image-container .hide-bg-image {
  background-image: unset !important;
  background-color: #333333 !important;
}
.container .place-image-container .hide-saturation {
  -webkit-filter: initial;
}
.container .place-image-container .place-image-palette {
  min-height: 390px;
}

.spa-anchor {
  color: unset;
  text-decoration: unset;
}
.spa-anchor:hover {
  color: unset;
  text-decoration: unset;
}
.spa-anchor:active {
  color: unset;
  text-decoration: unset;
}

@media (max-width: 1000px) {
  .add-all-image {
    font-size: 8px;
    margin-left: -7px;
  }
}
